<!DOCTYPE html>
<html lang="en">
{% load static %}

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>Appfast - Responsive OnePage HTML5 Template</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!-- Site CSS -->
<link rel="stylesheet" href="{% static 'style.css' %}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="{% static 'css/versions.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!--[if lt IE 9]>
      <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
      <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body class="app_version" data-spy="scroll" data-target="#navbarApp" data-offset="98">

<!-- LOADER -->
<!-- <div id="preloader">
        <img class="preloader" src="{% static 'images/loaders/loader-app.gif' %}" alt="">
    </div> end loader -->
<!-- END LOADER -->

<header class="header header_style_01">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% static 'index.html' %}"><img src="{% static 'images/logos/logo-app.png' %}"
                                                                          alt="image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApp"
                    aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarApp">
                <ul class="navbar-nav">
                    <li><a class="nav-link active" href="{% url 'adminhome' %}">Home</a></li>
                        <li><a class="nav-link" href="{% url 'AdminApprovedCompanyview' %}">Approved Company</a></li>
						<li><a class="nav-link" href="{% url 'AdminRejectedCompanyview' %}">Rejected Company</a></li>

                    <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<br>
<br>
<br>
<div id="team" class="section wb">
    <div class="container">
        <div class="section-title text-center">

           <br>
            <br>
            <br>
            <h3>Product page</h3>

            <p class="lead">Get the description and specification of the product. </p>
        </div><!-- end title -->

        <div class="row dev-list text-center">
            {% for i in con %}

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s"
                     data-wow-delay="0.2s">
                    <div class="widget clearfix">
                      First Name:   <img style="height:324px; width: inherit " src="" alt="" class="img-fluid rounded-circle">{{ i.fName}}
                        <div class="widget-title">
                            <h3>Name {{ i.C_Name }}</h3>
                            <small>{{ i.Email }}</small>
                        </div>
                        <!-- end title -->
                        <p>Specifications of the product</p>

                        <div>
                            <a href="{% url 'AdminApproveCompany' id=i.id %}" class="buttonmy">
                                <button class="btn btn-lg btn-primary">Approve</button>
                            </a><a href="{% url 'AdminRejectCompany' id=i.id %}" class="buttonmy">
                                <button class="btn btn-lg btn-primary">Reject</button>
                            </a><a href="{% url 'AdminDeleteCompany' id=i.id %}" class="buttonmy">
                                <button class="btn btn-lg btn-primary">Delete</button>
                            </a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->
            {% endfor %}


        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
 <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="{% static '#' %}">Appfast</a> Design By :
					<a href="{% static 'https://html.design/' %}">christin</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div>
</body>
</html>